body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1 {
    margin-top: 20px;
}

#roleSelection {
    margin-top: 40px;
}

#roleSelection button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

#roleSelection button:hover {
    background-color: #45a049;
}

#drawingCanvas {
    cursor: crosshair;
    margin: 20px auto;
    display: block;
    border: 2px solid #000000;
    background-color: #ffffff;
}

.controls {
    margin-top: 20px;
}

.controls label {
    font-size: 16px;
    margin-right: 5px;
}

.controls input[type="color"], .controls input[type="range"] {
    margin-right: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #da190b;
}

#guessingMode {
    margin-top: 20px;
}

#guessingMode p {
    font-size: 18px;
    margin: 10px 0;
}

#wordTable {
    margin: 0 auto 20px;
    border-collapse: collapse;
    width: 60%;
}

#wordTable td, #wordTable th {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#wordTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#wordTable tr:hover {
    background-color: #ddd;
}

.guess-controls {
    margin-top: 20px;
}

.guess-controls input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.guess-controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    transition: background-color 0.3s;
}

.guess-controls button:hover {
    background-color: #007bb5;
}

#nextRoundButton {
    background-color: #555555;
}

#nextRoundButton:hover {
    background-color: #333333;
}

#endGame {
    margin-top: 40px;
}

#endGame h2 {
    font-size: 28px;
    color: #ff5722;
}

#endGame p {
    font-size: 22px;
    margin: 20px 0;
}

#endGame button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

#endGame button:hover {
    background-color: #45a049;
}
